* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, sans-serif;

    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #16222a,
        #3a6073
    );

    display: flex;

    justify-content: center;

    padding: 30px;
}


.container {

    width: 100%;

    max-width: 700px;
}


.form-card {

    background: white;

    padding: 40px;

    border-radius: 20px;
}


.back {

    text-decoration: none;

    color: #333;
}


h1 {

    margin-top: 20px;

    color: #222;
}


.subtitle {

    color: #777;

    margin: 10px 0 30px;
}


form {

    display: flex;

    flex-direction: column;
}


label {

    margin-top: 15px;

    margin-bottom: 6px;

    font-weight: bold;
}


input,
select,
textarea {

    padding: 13px;

    border: 1px solid #ddd;

    border-radius: 8px;

    font-size: 15px;
}


textarea {

    min-height: 120px;
}


h2 {

    margin-top: 30px;

    color: #333;
}


/* CAMERA */

.camera-area {

    margin-top: 15px;

    display: flex;

    flex-direction: column;

    gap: 10px;
}


video {

    width: 100%;

    max-height: 350px;

    border-radius: 10px;

    background: #111;
}


canvas {

    display: none;
}


#capture {

    padding: 12px;

    border: none;

    border-radius: 8px;

    background: #555;

    color: white;

    cursor: pointer;
}


button[type="submit"] {

    margin-top: 30px;

    padding: 15px;

    background: #243b55;

    color: white;

    border: none;

    border-radius: 8px;

    font-size: 16px;

    cursor: pointer;
}